body{
flex-direction:row;
}

.sidebar{
width:34%;
font-size:13px;
}

.chat-area{
width:66%;
}

.user{
padding:8px;
}

.avatar{
width:36px;
height:36px;
font-size:14px;
}

.chat-header{
padding:8px;
font-size:13px;
}

.message{
max-width:88%;
font-size:14px;
padding:8px;
}

.chat-box{
padding:8px;
padding-bottom:160px;
}

button{
width:42px;
height:42px;
font-size:16px;
}

input[type=text]{
font-size:16px;
padding:12px;
}

input[type=file]{
max-width:95px;
font-size:10px;
}

.chat-img{
max-width:150px;
}

audio{
width:160px;
}

#localVideo{
width:95%;
}

